{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<form method="POST" action="{% url 'index' %}">
    {% csrf_token %}
    <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Розрахунок валюти за найкращим курсом</h1>
    <h4 class="mb-3">оберіть валюту</h4>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="submit" name="USD-UAH" class="btn btn-outline-primary">USD-UAH</button>
  <button type="submit" name="EUR-UAH" class="btn btn-outline-primary">EUR-UAH</button>
  <button type="submit" name="UAH-USD" class="btn btn-outline-primary">UAH-USD</button>
    <button type="submit" name="UAH-EUR" class="btn btn-outline-primary">UAH-EUR</button>
</div>

</form>